body{
    background-color:#d8e3e7 ;
}
h1 {
    color: #66bfbf ;
}
h3 {
     color:#66bfbf ;
    }

        hr{
            border-style: dotted none none none ;
            border-color: grey;
            width: 5%;
                    border-width:5px}